@page "/payment/update"
@model LogBilisim.Web.Pages.Payment.UpdateModel

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="UpdatePayment.Id"  />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Ödeme Tarihi</label>
                                <input type="date" class="form-control" asp-for="UpdatePayment.PaymentDate" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Ödeme Tutarı</label>
                                <input type="number" class="form-control" asp-for="UpdatePayment.PaymentAmount" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Ödeme Şekli</label>
                                <select class="form-select form-control" asp-for="UpdatePayment.PaymentType" asp-items="@Html.GetEnumSelectList<LogBilisim.Web.Models.Enums.PaymentType>()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row d-flex">
                            <div class="col text-end ml-3">
                                <button type="submit" class="btn btn-success btn-sm">Kaydet</button>
                                <a asp-page="/Payment/Index" class="btn btn-warning btn-sm">Geri</a>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>