@page "/category/update"
@model LogBilisim.Web.Pages.Category.UpdateModel

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="UpdateCategory.Id" />
                    <div class="form-group">
                        <label class="form-label">Kategori</label>
                        <input type="text" class="form-control" asp-for="UpdateCategory.Name" />
                    </div>
                    <div class="row d-flex">
                        <div class="col text-end ml-3">
                            <button type="submit" class="btn btn-success btn-sm">Kaydet</button>
                            <a asp-page="/Category/Index" class="btn btn-warning btn-sm">Geri</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
