<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo" style="height:100px;">
        <a asp-page="/Dashboard/Index" class="logo-normal">
            <div class="logo-image-small text-center">
                <img src="~/assets/img/log_bilisim_logo.jpeg" style="width:100px;">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="">
                <a asp-page="/Dashboard/Index">
                    <i class="nc-icon nc-chart-pie-36"></i>
                    <p>İSTATİSTİK</p>
                </a>
            </li>
            <li>
                <a asp-page="/Customer/Index">
                    <i class="nc-icon nc-single-02"></i>
                    <p>MÜŞTERİLER</p>
                </a>
            </li>
            <li>
                <a asp-page="/Product/Index">
                    <i class="nc-icon nc-laptop"></i>
                    <p>ÜRÜNLER</p>
                </a>
            </li>
            <li>
                <a asp-page="/Category/Index">
                    <i class="nc-icon nc-bookmark-2"></i>
                    <p>KATEGORİLER</p>
                </a>
            </li>
            <li>
                <a asp-page="/Order/Index">
                    <i class="nc-icon nc-basket"></i>
                    <p>SİPARİŞLER</p>
                </a>
            </li>
            <li>
                <a asp-page="/Payment/Index">
                    <i class="nc-icon nc-money-coins"></i>
                    <p>ÖDEMELER</p>
                </a>
            </li>
            <li>
                <a asp-page="/Account/Logout">
                    <i class="nc-icon nc-simple-remove"></i>
                    <p>ÇIKIŞ</p>
                </a>
            </li>
        </ul>
    </div>
</div>

